/* body */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}
/* nav*/

.nav
{
    font-family: Raleway;
  	padding: 2em;
    text-align: center;
    
    
}

.nav a
{
    color:black;
    text-decoration: none;
    font: 1.4em Raleway;
    margin: .1em .4em;
    padding: .2em ;
    position: relative;
    z-index: 0;
    cursor: pointer;


}
div.nav a:before, div.nav a:after
{
    position: absolute;
    opacity: 0.4;
    height: 100%;
    width: .1em;
    content: '';
    background:black;
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    height: .1em;
    width: 100%;
}
.n a:before,.n a:after
{
    position: absolute;
    opacity: 0.1;
    width: 0%;
    height:.1em;
    content: '';
    background: black;
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    width: 100%;
}
.icon-bar {
  position: fixed;
  top: 50%;
  right:0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: .7em;
  margin: .2em;
  border-radius: .8em;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.4em;
}
  
  .icon-bar a:hover {
    background-color: black ;
    color: red;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 10px;
    font-size: 30px;
  }
