body,html{
  padding: 0;
  margin:0;
  
}
/* nav star */
.nav
{
    font-family: Raleway;
  	padding: 1em;
    text-align: center;
    
    
}

.nav a{
  color:black;
  text-decoration: none;
  font: 1.5em Raleway;
  margin: .1em .3em;
  padding: .5em ;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
div.nav a:before, div.nav a:after
{
    position: absolute;
    opacity: 0.4;
    height: 100%;
    width: 2px;
    content: '';
    background:black;
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
.n a:before,.n a:after
{
    position: absolute;
    opacity: 0.1;
    width: 0%;
    height: 2px;
    content: '';
    background: black;
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    width: 100%;
}
/* nav end  */

/* icon bar */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 4px;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: white;
    
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  .icon-bar .facebook:hover {
    color: #3B5998;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  .icon-bar .twitter:hover {
    color: #3B5998;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  .icon-bar .google:hover {
    color: #dd4b39;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  .icon-bar .linkedin:hover {
    color: #007bb5;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  .icon-bar .youtube:hover {
    color: #bb0000;
  }
  
  .content {
    margin-left: 10px;
    font-size: 30px;
  }

  /* icon bae end  */

  /* samer star*/
.sa{
    position: absolute;
    top:10%;
    text-decoration: none;
    text-align: center;
    width: 99%;
    font-size: 2em;
    color: black;
    font-family: 'Lato', sans-serif;
  }
  /* samer end  */

  /* contact form */
.contact {
    background: white;
    margin: 3em auto 5em;
    text-align: center;
    padding: 5em 0 5em;
    width: auto;
  }
.contact h1 {
    margin-bottom: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }
  form {
    width: 58.33333%;
    margin: 0 auto;
  }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 2em;
  }
  form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: #313a3d;
    width: 100%;
    padding: .8em 0;
    font-size: 1.4em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    display: block;
    position: absolute;
    top: .4em;
    left: 5%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"], form .field textarea {
    border: none;
    background: #e8e9ea;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313a3d;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  form .field input[type="text"]#msg, form .field textarea#msg {
    height:1.5em;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"]:focus, form .field textarea:focus, form .field input[type="text"].focused, form .field textarea.focused {
    outline: none;
  }
  form .field input[type="text"]:focus#msg, form .field textarea:focus#msg, form .field input[type="text"].focused#msg, form .field textarea.focused#msg {
    padding-bottom: 150px;
  }
  form .field input[type="text"]:focus + label, form .field textarea:focus + label, form .field input[type="text"].focused + label, form .field textarea.focused + label {
    width: 18%;
    background: #fd9638;
    color: #313a3d;
  }
  form .field input[type="text"].focused + label, form .field textarea.focused + label {
    color: #fd9638;
  }
  form .field:hover label {
    width: 18%;
    background: #313a3d;
    color: white;
  }
  form input[type="submit"] {
    background: #fd9638;
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: .3em .5em;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }

  form button{
    height: 3em;
    width: 6em;
    border-radius: .5em;
    background: #313a3d;
    color: black;
    font-size: 1.1em;
    
  }
  form button[type="submit"]:hover {
    background: #313a3d;
    color: #fd9638;
  }
  form button[type="submit"]:focus {
    outline: none;
    background: #cd6302;
    color: white;
  }
  /* contact form error star */
  #status{
    color: #bb0000;
    display: block;
    position: relative;
    bottom:2.1em;
  }
  /* midea qu error */
  
  /* contact form error end  */
  /* contat end  */
  /*  footer */
  #sticky {
   padding:20px;
  padding-bottom:16px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  bottom:0;
  left:0;
  right: 0;
  border-top:1px solid whitesmoke;
  background-image:url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200)
}




@media only screen and (max-width: 600px){
  .nav a{
    color:black;
    text-decoration: none;
    font: .8em Raleway;
    padding: .5em ;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 2px;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .sa{
    top:15%;
    font-size: 1.3em;
    color: brown;
  }
  .contact h1 {
    margin-bottom: 1em;
    font-size: 1.2em;
    color: cornflowerblue;
  }
  .prg{
    margin-bottom: 3em;
  } 
  form .field label {
    padding: .3em ;
    font-size: 1em;
  }
  form .field input[type="text"], form .field textarea {
    width: 90%;
    margin: 0;
    padding:6px ;
    font-size:.8em;
    letter-spacing: 0.01em;
  }
  form .field:hover label {
    width: 19%;
    background: #313a3d;
    color: white;
    font-size: 13px;
  }
  form .field input[type="text"]:focus + label, form .field textarea:focus + label, form .field input[type="text"].focused + label, form .field textarea.focused + label {
    width: 19%;
    background: #fd9638;
    color: #313a3d;
    margin-top: -26px;
    margin-left:9px;
  }
  form .field label + span {
    top: -.1em;
  }
  #status{
    color: #bb0000;
  }
}
