@import 'https://fonts.googleapis.com/css?family=Raleway';

body{
    background: #222;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
/* nav */
  
.nav
{
    font-family: Raleway;
  	padding: 1em;
    text-align: center;
    
    
}

.nav a
{
    color:white;
    text-decoration: none;
    font: 15px Raleway bold;
    
    margin: 2px 10px;
    padding: 9px ;
    position: relative;
    z-index: 0;
    cursor: pointer;


}
div.nav a:before, div.nav a:after
{
    position: absolute;
    opacity: 0.4;
    height: 100%;
    width: 2px;
    content: '';
    background:rgb(233, 233, 233);
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
.n a:before,.n a:after
{
    position: absolute;
    opacity: 0.1;
    width: 0%;
    height: 2px;
    content: '';
    background: rgb(255, 255, 255);
    transition: all 0.3s;
}

.n a:before
{
    left: 0px;
    top: 0px;
}

.n a:after
{
    right: 0px;
    bottom: 0px;
}

.n a:hover:before,.n a:hover:after
{
    opacity: 1;
    width: 100%;
}
/* Icon */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: .7em;
  margin: .2em;
  border-radius: .8em;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.4em;
}
  .icon-bar a:hover {
    background-color: black ;
    color: red;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 10px;
    font-size: 30px;
  }

   
  .videos{
    display: block;
    position:absolute;
    width: 65%;
    right: 20% !important;
    left: 20% !important;
    top: 10%;
  }

  /* coming */
  @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.wrap {
	width: 100vh;
	height: 10vh;
	position: fixed;
  left: 50%;
  bottom: -1%;
	transform: translate(-50%, -50%);
}

h1 {
	width: fit-content;
	position: absolute;
	font-size: 1.7em; 
  background-color: black; 
  padding: .5em;
  color: white;
  mix-blend-mode: multiply;
  display: inline-block;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 2px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ball {
	width: 60px; 
	height: 60px;
	border-radius: 50%;
	background: rgb(68,151,255);
background: linear-gradient(142deg, rgba(68,151,255,1) 0%, rgba(85,34,222,1) 58%, rgba(156,33,231,1) 100%);
	position: absolute;
	bottom: -50px;
	left: 50%;
	animation-name: ball-go;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes ball-go {
	0% {
		top: -13px;
		left: 62%;
	}
	100% {
		top: -13px;
    left: 30%;
     
	}
}



